@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat-UltraLight';
    src: url('../font/Montserrat-UltraLight.otf');
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 2s;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.header{
    height: 170px;
    background-color: #E51616;
}

.accueil{
    display: inline-block;
    margin-left: 37%;
}

.logospace{
    display: block;
    margin: auto;
}

.btn{
    display: inline-block;
    color: #E51616;
    background-color: white;
    font-family: 'Montserrat';
    text-decoration: none;
    margin: 20px 0 30px 0;
    padding: 7px 10% 7px 10%;
    border: solid #E51616 2px;
}

.btn:hover{
    color: white;
    background-color: #E51616;
    transition: 1s ease;
}

.divbtn{
    height: 50px;
}

input{
    font-size: 16px;
}

.container{
    text-align: center;
    margin-top: 5%;
}

.title{
    margin-bottom: 5%;
    color: #E51616;
    font-size: 30px;
    font-family: 'Montserrat-UltraLight';
}

.formlogin{
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    width: 845px;
    text-align: center;
    padding: 1.4rem 0 1rem 0;
    font-family: 'Montserrat';
    -moz-box-shadow: 0px 1px 7px 0px #656565;
    -webkit-box-shadow: 0px 1px 7px 0px #656565;
    -o-box-shadow: 0px 1px 7px 0px #656565;
    box-shadow: 0px 1px 7px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=7);
}

.formregister{
    margin-right: auto;
    margin-left: auto;
    height: 350px;
    width: 845px;
    text-align: center;
    padding: 1.4rem 0 1rem 0;
    font-family: 'Montserrat';
    -moz-box-shadow: 0px 1px 7px 0px #656565;
    -webkit-box-shadow: 0px 1px 7px 0px #656565;
    -o-box-shadow: 0px 1px 7px 0px #656565;
    box-shadow: 0px 1px 7px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=7);
}

.formdivlogin{
    margin-right: auto;
    margin-left: auto;
    height: 155px;
    width: 350px;
    padding: 1.4rem 0 1rem 0;
    -moz-box-shadow: 0px 1px 7px 0px #656565;
    -webkit-box-shadow: 0px 1px 7px 0px #656565;
    -o-box-shadow: 0px 1px 7px 0px #656565;
    box-shadow: 0px 1px 7px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=7);
}

.formdivregister{
    margin-right: auto;
    margin-left: auto;
    height: 260px;
    width: 350px;
    padding: 1.4rem 0 1rem 0;
    -moz-box-shadow: 0px 1px 7px 0px #656565;
    -webkit-box-shadow: 0px 1px 7px 0px #656565;
    -o-box-shadow: 0px 1px 7px 0px #656565;
    box-shadow: 0px 1px 7px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=7);
}

.login,.password,.email{
    display: inline-block;
    color: #E51616;
    background-color: white;
    font-family: 'Montserrat';
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    border: solid #E51616 2px;
}

.login{
    margin-bottom: 45px;
}

.password{
    margin-bottom: 45px;
}

.email{
    margin-bottom: 25px;
}

.footer{
    background-color: #E51616;
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    margin-top: 246px;
    line-height: 50px;
    height: 50px;
    padding: 20px;
}