@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat-UltraLight';
    src: url('../font/Montserrat-UltraLight.otf');
}

body{
  font-family: 'Montserrat';
  font-size: 16px;
  margin: 0;
}



@media screen and (min-width:1025px) and (max-width:1440px){

  .header{
      height: 350px;
      background-color: #FFC107;
      padding-top: 100px;
  }

  .accueil{
      display: block;
      margin: auto;
      width: 411px;

  }

  .container{
    display: block;
    max-width: 1120px;
    width: 100%;
    margin: auto;
    -moz-box-shadow: 0px 1px 7px 0px #656565;
    -webkit-box-shadow: 0px 1px 7px 0px #656565;
    -o-box-shadow: 0px 1px 7px 0px #656565;
    box-shadow: 0px 1px 7px 0px #656565;
    padding: 40px;
    z-index: 2000;
    margin-top: -100px;
    margin-bottom: 50px;
    background-color: white;
  }

  .posts{

    display: block;

  }

  table{

    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 100%;

  }

  tr{

    border: 1px solid black;
    padding: 10px;

  }

  tr:nth-child(2n+1){
    background-color: #ebebeb;
  }

  th{

    border: 1px solid black;
    padding: 10px;
    background-color: white;

  }
  td{

    padding: 10px;
    border: 1px solid black;

  }

  a{
    color: #FFC107;
    transition: all 0.3s;
    text-decoration: none;
  }
  a:hover{
    color: #FF9800;
  }


  .action-btn{
    padding: 10px;
    color: #FFC107;
    border: 2px solid #FFC107;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
  }

  .action-btn:hover{
    color: white;
    background-color: #FFC107;


  }

}

@media screen and (min-width:1441px){

  .header{
      height: 350px;
      background-color: #FFC107;
      padding-top: 100px;
  }

  .accueil{
      display: block;
      margin: auto;
      width: 411px;

  }

  .container{
    display: block;
    max-width: 1120px;
    width: 100%;
    margin: auto;
    -moz-box-shadow: 0px 1px 7px 0px #656565;
    -webkit-box-shadow: 0px 1px 7px 0px #656565;
    -o-box-shadow: 0px 1px 7px 0px #656565;
    box-shadow: 0px 1px 7px 0px #656565;
    padding: 40px;
    z-index: 2000;
    margin-top: -100px;
    margin-bottom: 50px;
    background-color: white;
  }

  .posts{

    display: block;

  }

  table{

    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 100%;

  }

  tr{

    border: 1px solid black;
    padding: 10px;

  }

  tr:nth-child(2n+1){
    background-color: #ebebeb;
  }

  th{

    border: 1px solid black;
    padding: 10px;
    background-color: white;

  }
  td{

    padding: 10px;
    border: 1px solid black;

  }

  a{
    color: #FFC107;
    transition: all 0.3s;
    text-decoration: none;
  }
  a:hover{
    color: #FF9800;
  }


  .action-btn{
    padding: 10px;
    color: #FFC107;
    border: 2px solid #FFC107;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
  }

  .action-btn:hover{
    color: white;
    background-color: #FFC107;


  }

}
